# Public API Examples

In [1]:
import wandb

In [4]:
!wandb login

wandb: Currently logged in as: jaewooklee (use `wandb login --relogin` to force relogin)

In [5]:
api = wandb.Api()
api

In [7]:
run = api.run("jaewooklee/wandb/2qy69fl8")
run.history()

   _step  _runtime  accuracy  epoch  _timestamp
0      0         8       0.9      5  1627558765

In [8]:
if run.state == "finished":
   for i, row in run.history().iterrows():
      print(row["_timestamp"], row["accuracy"])

1627558765.0 0.9

In [12]:
run.history().iterrows

<bound method DataFrame.iterrows of    _step  _runtime  accuracy  epoch  _timestamp
0      0         8       0.9      5  1627558765>

In [16]:
run.summary

{'_step': 0, 'epoch': 5, '_runtime': 8, 'accuracy': 0.9, '_timestamp': 1627558765}

In [18]:
import wandb
api = wandb.Api()

run = api.run("jaewooklee/wandb/2qy69fl8")
if run.state == "finished":
   for i, row in run.history(keys=["accuracy"]).iterrows():
      print(row["_timestamp"], row["accuracy"]) # Error

0.9

## Compare two runs

In [27]:
run1 = api.run("jaewooklee/wandb/2qy69fl8")
run1.config["epochs"] = 8
run1.config

{'epochs': 8}

In [19]:
import pandas as pd
import wandb
api = wandb.Api()

# replace with your <entity>, <project>, and <run_id>
run1 = api.run("jaewooklee/wandb/2qy69fl8")
run2 = api.run("jaewooklee/wandb/1abav36h")

In [28]:
print(run1.config)
print(run2.config)

{'epochs': 8}
{'epochs': 4}

In [29]:
df = pd.DataFrame([run1.config, run2.config])
df

   epochs
0       8
1       4

In [31]:
df = df.transpose()
df

        0  1
epochs  8  4

In [33]:
df.columns = [run1.name, run2.name]
df

        light-donkey-41  quiet-elevator-40
epochs                8                  4

In [47]:
print(df[run1.name])

epochs    8
Name: light-donkey-41, dtype: int64

In [42]:
print(df[run1.name],df[run2.name])

epochs    8
Name: light-donkey-41, dtype: int64 epochs    4
Name: quiet-elevator-40, dtype: int64

In [41]:
print(df[df[run1.name] != df[run2.name]])

        light-donkey-41  quiet-elevator-40
epochs                8                  4

In [44]:
df[df[run1.name] != df[run2.name]]

        light-donkey-41  quiet-elevator-40
epochs                8                  4

In [51]:
run2.summary['accuracy']=0.2

In [52]:
run2.summary

{'loss': 0.2, '_step': 3, 'epoch': 5, '_runtime': 256, 'accuracy': 0.2, '_timestamp': 1627559288}

In [53]:
run2.summary.update()

In [54]:
run2.summary

{'loss': 0.2, '_step': 3, 'epoch': 5, '_runtime': 256, 'accuracy': 0.2, '_timestamp': 1627559288}

In [60]:
import wandb
api = wandb.Api()

run = api.run("jaewooklee/wandb/2qy69fl8")
run.summary[run.name] = run.summary["heavy--41"]
del run.summary[run.name]
run.summary.update()

KeyError: 'heavy-donkey-41'

## Update config for an existing run

In [63]:
run = api.run("jaewooklee/wandb/2qy69fl8")
run.config["key"] = "new_key"
run.update()

In [64]:
run.config["key"]

'new_key'

## Export metrics from a single run to a CSV file

In [65]:
run = api.run("jaewooklee/wandb/2qy69fl8")
# save the metrics for the run to a csv file
metrics_dataframe = run.history()
metrics_dataframe.to_csv("metrics.csv")

In [68]:
history = run.scan_history()
history

In [70]:
run.config["Loss"] = 0.2222
run.update()

In [74]:
run.history

In [71]:
losses = [row["Loss"] for row in history]

KeyError: 'Loss'

In [79]:
run.config.items()

dict_items([('key', 'new_key'), ('Loss', 0.2222)])

In [81]:
run.name

'light-donkey-41'

In [82]:
run.summary

{'_timestamp': 1627558765, '_step': 0, 'epoch': 5, '_runtime': 8, 'accuracy': 0.9}

In [88]:
wandb.log

In [93]:
print(run.summary)
print(run.history())
print(run.config)

{'_timestamp': 1627558765, '_step': 0, 'epoch': 5, '_runtime': 8, 'accuracy': 0.9}
   _step  _runtime  accuracy  epoch  _timestamp
0      0         8       0.9      5  1627558765
{'key': 'new_key', 'Loss': 0.2222}